.footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 15px 0
    text-align: center
    color: #ffffff
    background: #44657C
    &__rights
        margin: 0
        font-size: 1.2em